@using System.ComponentModel
@using mp_test.Models
@model mp_test.Models.OrderModel
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="order-page-content">
    <h2>@Model.cathegoryTitle</h2>
    <div class="order-body">

        @if (@Model.cathegoryId == 1)
        {
            <span class="order-body-header">Title</span>
            <span class="order-body-value">@Model.orderTitle</span>

            <span class="order-body-header">Take from</span>
            <span class="order-body-value">@Model.sourceAddress</span>

            <span class="order-body-header">Deliver to</span>
            <span class="order-body-value">@Model.destinationAddress</span>

            <span class="order-body-header">Cost</span>
            <span class="order-body-value">@Model.orderCost @Model.orderCurrency.Title</span>

            <span class="order-body-header">Deliver due</span>
            <span class="order-body-value">@Model.orderDueDateTime</span>
        }
        
        <button class="btn btn-default" type="submit" onclick="location.href = '@Url.Action("CreateOffer", "Offer", new { orderId=@Model.orderId})'">Take this order</button>
    </div>
    <div class="additional-order-info"></div>
</div>
